<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">DocumentApp</a>
      <div>
        <ul class="navbar-nav flex-grow">
          <li
            class="nav-item"
          >
            <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" [routerLink]="['/categories/new']">New category</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link text-dark" [routerLink]="['/categories/edit']">Edit category</a>
          </li> -->
          <li class="nav-item" >
            <a class="nav-link text-dark" [routerLink]="['/docs/new']">New document</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
