<div *ngIf="category$ | async; let category" class="container-mt5" style='text-align: center;'>
   <h2>Edit category</h2> 
   <form 
      *ngIf="Categories"
     [formGroup]="editCategoryForm" 
     (ngSubmit)="onSubmit(editCategoryForm)">
     <div class="mb-5">
       <label>
         Category name:
         <input id="name" formControlName="name" placeholder="Name">
       </label>
       <div *ngIf="editCategoryForm.get('name')?.invalid && (editCategoryForm.get('name')?.dirty || editCategoryForm.get('name')?.touched)" class="error-field">
         <p class="error">Please provide a name.</p> 
       </div>
     </div>
     <div>
      <label> Subcategories</label><br>
     </div>        
     <div>
      <div>
        <label>
         Subcategory name:
         <input id="version" formControlName="subcategoriesNameOne" placeholder="Subcategory name">
       </label>
       <div *ngIf="editCategoryForm.get('version')?.invalid && (editCategoryForm.get('version')?.dirty || editCategoryForm.get('version')?.touched)">
         <p class="error">Please provide a subcategory.</p> 
       </div>
      </div>

      <div>
        <label>
         Subcategory name:
         <input id="version" formControlName="subcategoriesNameTwo" placeholder="Subcategory name">
       </label>
       <div *ngIf="editCategoryForm.get('version')?.invalid && (editCategoryForm.get('version')?.dirty || editCategoryForm.get('version')?.touched)">
         <p class="error">Please provide a subcategory.</p> 
       </div>
      </div>       

      <div>
        <label>
         Subcategory name:
         <input id="version" formControlName="subcategoriesNameThree" placeholder="Subcategory name">
       </label>
       <div *ngIf="editCategoryForm.get('version')?.invalid && (editCategoryForm.get('version')?.dirty || editCategoryForm.get('version')?.touched)">
         <p class="error">Please provide a subcategory.</p> 
       </div>
      </div>
       
     </div>
     <div class="text-center">
       <button [disabled]="!editCategoryForm.valid" class="btn btn-success mr-5" type="submit">Save category</button>
       <button class="btn btn-default ml-5" (click)="cancel()" type="button">Cancel</button>
     </div>
       </form>
