<div *ngIf="category$ | async; let category" class="container-mt5" style='text-align: center;'>
   <h2>Edit category</h2>
   <form
     (ngSubmit)="onSubmit()">

     <div class="mb-5">
       <label>
         Category name:
         <input [(ngModel)]="category.name" name="CategoryName" #ctrl="ngModel" required placeholder="Category name" required>
       </label>
     </div>

     <div class="text-center">
       <button [disabled]="!ctrl.valid" class="btn btn-success mr-5" type="submit">Save category</button>
       <button class="btn btn-default ml-5" (click)="deleteCategory()" type="button">Delete</button>
       <button class="btn btn-default ml-5" (click)="cancel()" type="button">Cancel</button>
     </div>
       </form>



