<div *ngIf="doc$ | async; let document" class="container-mt5" style='text-align: center;'>
  <h2>Edit document</h2>
  <form
    [formGroup]="editForm"
    (ngSubmit)="onSubmit(editForm)">
    <div>
      <label>
        Name:
        <input id="name" formControlName="name" placeholder="Document name">
      </label>
      <div *ngIf="editForm.get('name')?.invalid && (editForm.get('name')?.dirty || editForm.get('name')?.touched)" class="error-field">
        <p class="error">Please provide a name.</p>
      </div>
    </div>
    <div class="mt-2">
      <label>
        Version:
        <input type="text"  id="version" formControlName="version" placeholder="Doc version" readonly>
      </label>
    </div>
    <div class="mt-2">
      <label>
        Author:
        <input id="author" formControlName="author" placeholder="Doc author">
      </label>
      <div *ngIf="editForm.get('author')?.invalid && (editForm.get('author')?.dirty || editForm.get('author')?.touched)">
        <p class="error">Please provide an author.</p>
      </div>
    </div>

    <div class="mt-2">
      <label>Category: </label>
      <ngx-mat-tree-select-input
          [options]="categoriesSelectOptions"
          [placeholder]="'Select category'"
          [controlName]="'category'"
          >
        </ngx-mat-tree-select-input>
    </div>
    <div>
      <label>
        Text:
      </label>
      <div class="mt-2">
        <textarea  id="text" formControlName="text" placeholder="Doc text" rows="15" cols="150"></textarea>
      </div>

      <div *ngIf="editForm.get('text')?.invalid && (editForm.get('text')?.dirty || editForm.get('text')?.touched)">
        <p class="error">Please provide a text.</p>
      </div>
    </div>
    <div class="text-center">
      <button [disabled]="!editForm.valid" class="btn btn-outline-success me-2 mb-3" type="submit">Save document</button>
      <button class="btn btn-outline-danger me-2 mb-3" (click)="deleteDoc()" type="button">Delete</button>
      <button class="btn btn-outline-secondary mb-3" (click)="cancel()" type="button">Cancel</button>
    </div>
      </form>
