 .docName {
   font-size: large;
   color:darkgreen;
   font-weight: bold;
   margin-bottom: 15%;
   text-decoration: none;
 }

 .categoryName {
  margin-bottom: 15%;
  text-decoration: none;
}

a.categoryName {
  margin-bottom: 0;
}
