<div>
  <div style="display: inline-block;">
      <mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
</mat-form-field>
  </div>
  <div style="display: inline-block; float:right;">
    <app-manage-category></app-manage-category>
  </div>
</div>


<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td  mat-cell *matCellDef="let row"><a class="docName" routerLink="/docs/edit/{{row.id}}">{{row.name}}</a>
        <div class="mt-2">
          <div class="inlineOpen">
            <a routerLink="/docs/edit/{{row.id}}"><button class="btn btn-outline-primary btn-sm mr-2">Open</button></a>
          </div>
          <div class="ml-2 inlineDelete ">
            <button (click)="deleteDoc(row.id)" class="btn btn-outline-warning btn-sm ml-2" >Delete</button>
          </div>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="created">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Created </th>
      <td mat-cell *matCellDef="let row"> {{row.created}} </td>
    </ng-container>

    <ng-container matColumnDef="version">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Version </th>
      <td mat-cell *matCellDef="let row"> {{row.version}} </td>
    </ng-container>

    <ng-container matColumnDef="author">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Author </th>
      <td mat-cell *matCellDef="let row"> {{row.author}} </td>
    </ng-container>

    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
      <td mat-cell *matCellDef="let row"> {{row.category.name}}
        <div>
          <div class="inlineOpen">
            <a routerLink="/categories/edit/{{row.categoryId}}"><button class="btn btn-outline-primary btn-sm mr-2">Edit</button></a>
          </div>
          <div class="inlineDelete">
            <button (click)="deleteCategory(row.categoryId)" class="btn btn-outline-warning btn-sm ml-2" >Delete</button>
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>

  <!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator> -->
  <mat-paginator [pageSizeOptions]="[100]" aria-label="Select page of users"></mat-paginator>
</div>
