<div *ngIf="doc$ | async; let doc" class="container-mt5" style='text-align: center;'>
<h1>Document view</h1>
<div class="row">
  <div class="col-3">
      <div class="card">
          <div class="card-body">
              <div>
                  <strong>Name:</strong>
                  <p>{{doc.name}}</p>
              </div>
              <div>
                  <strong>Version:</strong>
                  <p>{{doc.version}}</p>
              </div>
              <div>
                  <strong>Author:</strong>
                  <p>{{doc.author}}</p>
              </div>
              <div>
                  <strong>Category:</strong>
                  <p>{{doc.category.name}}</p>
              </div>
              <div>
                  <strong>Created:</strong>
                  <p>{{doc.created}}</p>
              </div>
              <div>
                  <strong>Edited:</strong>
                  <p>{{doc.edited}}</p>
              </div>
          </div>
      </div>

          <div class="text-center mt-3">
            <a class="text-decoration-none" routerLink="/docs/edit/{{doc.id}}">
              <button class="btn btn-outline-primary me-2" type="submit">Edit</button>
            </a>
            <button class="btn btn-outline-secondary me-2" (click)="cancel()" type="button">Back to list</button>
            <button class="btn btn-outline-danger me-2" (click)="deleteDoc()" type="button">Delete</button>
          </div>
  </div>

  <div class="col-8 ms-2">
    <textarea  id="text" placeholder="Doc text" readonly>{{doc.text}}</textarea>
  </div>
</div>
</div>
