<mat-list role="list">

<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <mat-tree-node *matTreeNodeDef="let node;" matTreeNodePadding>
    <mat-list-item>

      <span style="display: inline-block; vertical-align: middle;"
      *ngIf="selectable"
      (click)="onSelect(node.id)">
        - {{node.name}}
      </span>

      <span style="display: inline-block; vertical-align: middle;"
      *ngIf="!selectable">
        - {{node.name}}
      </span>

      <button mat-icon-button
      style="display: inline-block; vertical-align: middle;"
      (click)="onExpand(node)">
        <mat-icon class="mat-icon-rtl-mirror" >
          {{'skip_next'}}
        </mat-icon>
      </button>

      <button mat-icon-button disabled></button>

      <a class="text-decoration-none" routerLink="/categories/edit/{{node.id}}" *ngIf="!selectable">
        <button mat-icon-button title="edit category">
        <mat-icon class="material-icons-outlined">edit</mat-icon></button>
      </a>

      <button mat-icon-button title="delete category" (click)="deleteCategory(node.id)" *ngIf="!selectable">
        <mat-icon class="material-icons-outlined" color="warn">delete</mat-icon>
      </button>

    </mat-list-item>

  </mat-tree-node>
</mat-tree>
</mat-list>
